<div class="container">
    <div class="row">
        <h1><%=t(:loginTitle)%></h1> 
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <%= form_for(:session, url: login_path, html: {id: "login-form"})  do |f| %>
                                <div class="form-group">
                                    <%= f.label t(:email) %>
                                    <%= f.email_field :email, class: 'form-control', placeholder: t(:email) %>
                                </div>
                                <div class="form-group">
                                    <%= f.label t(:password) %>
                                    <%= f.password_field :password, class: 'form-control', placeholder: t(:password) %>
                                </div>
                                <div class="form-group text-center">
                                    <%= f.check_box t(:remember_me) %>
                                    <%= f.label :remember_me, class: "checkbox inline" do %>
                                    <span><%=t(:remember_me)%></span>
                                    <% end %>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <%= f.submit t(:login), id: "login-submit", class: "form-control btn btn-login" %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <%= link_to t(:forgotPassword), new_password_reset_path, class: "forgot-password" %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="row">
                                <div class="col-xs-6">
                                    <span><%=t(:newUser)%></span>
                                    <%= link_to t(:signUpNow), signup_path, id: "register-form-link" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>