<label for="competence_issue_question"><%=(t:question)%>:</label><br />
<%=text_field :competence_issue, :question, :size=>50%><br />

<label for="competence_issue_artefact_status_id"><%=(t:artefactStatus)%>:</label>
<%=select :competence_issue, :artefact_status_id, @artefact_status %><br />

<%=hidden_field :competence_issue, :version_id, :value =>@version_id%><br />
<%= submit_tag t(:save)%>