<% begin %>
    <label for="term_term_type_id"><%=t(:type)%>:</label>
    <%=select :term, :term_type_id, @term_types %><br />
    <label for="term_name"><%=t(:name)%>:</label><br />
    <%=text_field :term, :name%><br />
    <label for="term_description"><%=t(:description)%>:</label><br />
    <%= text_area :term, :description, :rows=>10, :cols=>50%><br />
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>
