<p id="notice"><%= notice %></p>

<h1>Params Config Type Docs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @params_config_type_docs.each do |params_config_type_doc| %>
      <tr>
        <td><%= link_to 'Show', params_config_type_doc %></td>
        <td><%= link_to 'Edit', edit_params_config_type_doc_path(params_config_type_doc) %></td>
        <td><%= link_to 'Destroy', params_config_type_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Params Config Type Doc', new_params_config_type_doc_path %>
