
<label for="activity_shedule_name"><%=t(:nameActivity)%>:</label><br />
<%=text_field :activity_shedule , :name %><br />

<label for="activity_shedule_user_id"><%=t(:responsible)%>:</label><br />
<%=select :activity_shedule, :user_id, @users, {:include_blank => '[select]'}%><br />

<label for="activity_shedule_deadline"><%=t(:deadline)%>:</label><br>

<div class="date" style="width:34%;">
    <input id="calendario<%=@activity_shedule.id%>" class="input-date" disabled value="<%=@activity_shedule.deadline%>"><br />
</div>
<br><br><br/>
<label for="activity_shedule_description"><%=t(:activityDescription)%>:</label><br />
<%= text_field :activity_shedule, :description %><br />

<%= hidden_field :activity_shedule, :deadline %><br />
<br><br>



