
<%= form_for(@user, html: {id: "login-form"}) do |f| %>
    <%= render 'shared/error_messages', object: @user %>
    <div class="form-group">
        <%= f.label t(:name) %>
        <%= f.text_field :name, class: 'form-control', placeholder: t(:name) %>
    </div>
    <div class="form-group">
        <%= f.label t(:email) %>
        <%= f.email_field :email, class: 'form-control', placeholder: t(:email) %>
    </div>
    <div class="form-group">
        <%= f.label t(:password) %>
        <%= f.password_field :password, class: 'form-control', placeholder: t(:password) %>
    </div>
    <div class="form-group">
        <%= f.label t(:password_confirmation) %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t(:password_confirmation) %>
    </div>
    <div class="form-group">
        <%#= recaptcha_tags %>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <%= f.submit t(:save), id: "login-submit", class: "form-control btn btn-login" %>
            </div>
        </div>
    </div>
<% end %>