<% begin %>
    <div class="menu-lateral">
        <%=render :partial => 'document/form_menu_lateral' %>
    </div>

    <div class="tela">
        <div class="content-header">
            <%if !@documento.ontology_id.nil? %>
            <h1><%=@documento.ontology.name%></h1>
            <%url = "/ontology/show/" + @documento.ontology.id.to_s %>
            <%else%>
            <h1 style="margin-bottom:0px;"><%=@documento.version.ontology.name%> - V. <%=@documento.version.number%></h1>
            <%url = "/version/show/" + @documento.version.id.to_s + "?ontology_id=" +  @documento.version.ontology.id.to_s %>
            <%end%>
            <p>Documento: <b class="texto2"><%=@documento.doc_type.name%></b></p>


            <hr id="hr">
            <div class="menu-horizontal" style="height:30px;">
                <ul id="abas-nav" class="page-inter">

                </ul>
            </div>
        </div>

        <div class="content">
            teste
        </div>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>

