<% begin %>
    <ul>
        <li class="circ"><a href="<%=methodologies_path%>" style="color:rgb(77, 77, 77);"><%=t(:methodologies)%></a>
            <ul>
                <% @methodologias.each do |m|%>
                <li class="circ"><a href="<%=methodologies_path%>/<%=m.id%>/edit" style="color:rgb(77, 77, 77);"><%=m.name%></a></li>
                <%end%>
            </ul>
        </li>
    </ul>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>