<ul>
    <li><a class="btcf tooltipM" href="<%=methodologies_path%>/<%=@methodology.id%>"><span><b></b>Configurar</span></a></li>
    <li><a class="btdt tooltipM"href="<%=methodologies_path%>/details/<%=@methodology.id%>"><span><b></b>Detalhes</span></a></li>
    <li><a class="bted tooltipM" href="<%=methodologies_path%>/<%=@methodology.id%>/edit/"><span><b></b>Editar</span></a></li>
    <li><a class="btex tooltipM" href="<%=methodologies_path%>/destroy/<%=@methodology.id%>"><span><b></b>Destruir</span></a></li>
</ul>

