<style>
    .content{
        margin-left: 60px;
        width: 92%;
    }
</style>
<% begin %>
    <div class="menu-lateral">
        <div class="listaPerfil">
            <a href="<%=new_methodology_path%>" style="color:rgb(77, 77, 77);" class="perfil"><%=t(:new)%></a>
        </div>
    </div>
    <div class="tela">
        <div class="content-header">
            <h1 style="margin-bottom: 0px;" ><%=t(:methodologies)%></h1>
        </div>

        <% if @methodologies.size > 0 %>
            <% @methodologies.each do |m| %>
                <div class="content">
                    <h2><%=m.name%></h2>
                    <%@methodology = m%>
                    <div class="page-menu">
                        <%=render :partial => 'menu' %>
                    </div>
                </div>
            <%end%>
        <% else %>
            <div class="content">
                <h2><%=t(:noMethodologyRegistered)%></h2>
                <p><%=t(:thereIsNoMethodology)%></p>
            </div>
        <% end %>
    </div>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>