<style text="css">
    .menu-window{
        border-bottom: 2px solid rgb(204, 204, 204);
        padding:10px;
        text-align:left;
        height:50px;
    }
    .input-edit{
        display:none;
    }

    .content{
        padding-bottom:20px;
    }
    a.btex{
        float:right;
        padding:7px;
        border:0px;
    }
    .change{
        float:right;
        padding:12px;
        opacity: 1;
        border:0px;
    }
</style>

<% begin %>
    <div class="menu-lateral">
        <%=render :partial => 'menu_lateral' %>
    </div>
    <div class="tela">
        <div class="content-header">
            <h1><%=@methodology.name%></h1>
            <div class="aba">
                <%=render :partial => 'menu' %>
            </div>
            <hr id="hr">
        </div>
        <div class="content">
            <p id="notice"><%= notice %></p>
            <div id="tabs">
                <ul>
                    <% @methodology.methodstep.each_with_index do |etapa, index|%>
                        <li><a href="#tabs-<%=index%>"><%=etapa.name%></a></li>
                    <%end%>
                    <li><a href="#tabs-nova">+</a></li>
                </ul>
                <% @methodology.methodstep.each_with_index do |etapa, index|%>
                    <div id="tabs-<%=index%>">
                        <%@methodstep = etapa%>
                        <a class="btex tooltipM" href="<%=methodologies_path%>/destroyEtapa/<%=@methodology.id%>?etapa_id=<%=etapa.id%>"><span><%=t(:destroy)%></span></a>

                        <%= form_tag :action => 'config_etapa', :id => @methodology.id, :etapa_id => etapa.id do %>
                        <%=render :partial => 'formEtapa' %>
                        <%=render :partial => 'formEtapa2' %>
                        <div id="buttons" class="buttons">
                            <%= submit_tag "#{t(:save)}", :class => 'button' %>
                        </div>
                        <%end%>
                    </div>
                <%end%>
                <div id="tabs-nova" style="height:100px;">
                    <%= form_tag :action => 'newetapa', :id => @methodology.id do %>
                        <div class="new" style="width:auto;">
                            <input id="new-etapa" type="text" class="input-new" placeholder="<%=t(:newStep)%>">
                            <input id="btnew-etapa" type="button" class="button-input btnew">
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>

<script language="javascript">

    $( "#new-etapa" ).keypress(function( event ) {
        if ( event.which == 13 ) {
            valor = $(this).val();
            add = "?name="+valor;
            action = $(this).closest("form").attr("action");
            newAction = action + add;
            $(this).closest("form").attr('action', newAction);
            $(this).closest("form").submit();
        }
    });
    $("#btnew-etapa").click(function(event){
        valor = $("#new-etapa").val();
        add = "?name="+valor;
        action = $(this).closest("form").attr("action");
        newAction = action + add;
        $(this).closest("form").attr('action', newAction);
        $(this).closest("form").submit();

    });


    $('form').submit(function(ev){
        var action = $(this).attr('action');
        etapa0 = action.split('=');
        etapa = etapa0[1];

        var configs = [];
        var espec = [];

        $('input[id^='+etapa+']:radio:checked').each(function() {
            id1 = $(this).attr('id')
            etapa1 = id1.split('-');
            if(etapa == etapa1[0]){
                id1 = etapa1[1] + '-' + etapa1[2];
                espec.push(id1);
            }
        });

        $('[id^=parametrosDiv] input:checked').each(function() {
            id1 = $(this).attr("id");
            etapa1 = id1.split('-');
            if(etapa == etapa1[0]){
                id1 = etapa1[1] + '-' + etapa1[2];
                if(!contains(etapa1[1], espec)){
                    configs.push(id1);
                }
            }
        });

        if (configs.length > 0){
            aditionUrl = "&configs_ids="+configs; 
        }
        if(espec.length > 0){
            aditionUrl = aditionUrl + "&especs_ids="+espec; 
        } 

        newAction = action + aditionUrl
        $(this).attr('action', newAction);


    });

    function troca(item1, item2){

        $("#"+item1).animate({bottom:200, opacity:"toggle"}, 700);
        $("#"+item2).animate({bottom:200, opacity:"toggle"}, 700);
    }

    function contains(like, vetor){
        for (var i = 0; i < vetor.length; i++) {
            obj = vetor[i].split('-');
            if (obj[0] === like) {
                return true;
            }
        }
        return false;
    }

    $("[id^=btcf]").click( function (ev){

        var str = $(this).attr("id");
        var init = str.indexOf('-');
        var id = str.substring(init+1,str.lenght);

        mostraEsconde('parametrosDiv'+id);
    });

    $("[id^=btex]").click( function (ev){
        var str = $(this).attr("id");
        var init = str.indexOf('-');
        var id = str.substring(init+1,str.lenght);

        newAction = "<%=methodologies_path%>/crudDoc/<%=@methodology.id%>?doc_type_id="+id+"&nameDT=destroy";

        $(this).closest("form").attr('action', newAction);
        $(this).closest("form").submit();

    });
        function novaEtapa(etapa){

        $("#text-new"+etapa).attr('style', 'display:block')
        $("#lable-new"+etapa).hide();

    }
</script>
<%#= link_to 'Edit', edit_methodology_path(@methodology) %> |
<%#= link_to 'Back', methodologies_path %>
