<%= form_for(ontology) do |f| %>
<% if ontology.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(ontology.errors.count, "error") %> prohibited this ontology from being saved:</h2>

    <ul>
        <% ontology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="actions">
    <label for="ontology_project_name">Nome do Projeto:</label><br />
    <%= f.text_field :project_name %><br />
</div>
<div class="actions">
    <label for="ontology_name">Nome da Ontologia:</label><br />
    <%= f.text_field :name %><br />
</div>
<div class="actions">
    <label for="ontology_domain">Domínio</label><br />
    <%= f.text_field :domain %><br />
</div>
<div class="actions">
    <label for="ontology_formality_degree_id">Grau de Formalidade:</label><br />
    <%=f.select :formality_degree_id, @formality_degrees%><br />
</div>
<div class="actions">
    <label for="ontology_methodology_id">Metodologia:</label><br />
    <%=f.select :methodology_id, @metodologias %><br />
</div>
<div class="actions">
    <label for="ontology_visible">Visível nas pesquisas?</label>
    <%= f.check_box :visible %><br />
</div>

<div class="actions">
    <%= f.submit %>
</div>
<% end %>
