<%= form_for(ontology) do |f| %>
<% if ontology.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(ontology.errors.count, "error") %> <%=t(:prohibited)%>:</h2>

    <ul>
        <% ontology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="actions">
    <label for="ontology_project_name"><%=t(:projectname)%>:</label><br />
    <%= f.text_field :project_name %><br />
</div>
<div class="actions">
    <label for="ontology_name"><%=t(:nameOntology)%>:</label><br />
    <%= f.text_field :name %><br />
</div>
<div class="actions">
    <label for="ontology_domain"><%=t(:domain)%></label><br />
    <%= f.text_field :domain %><br />
</div>
<div class="actions">
    <label for="ontology_formality_degree_id"><%=t(:formalitydegree)%>:</label><br />
    <%=f.select :formality_degree_id, @formality_degrees%><br />
</div>
<div class="actions">
    <label for="ontology_methodology_id"><%=t(:methodology)%>:</label><br />
    <%=f.select :methodology_id, @metodologias %><br />
</div>
<div class="actions">
    <label for="ontology_visible"><%=t(:visible)%></label>
    <%= f.check_box :visible %><br />
</div>

<div class="actions">
    <%= f.submit %>
</div>
<% end %>
