<% begin %>
    <div class="menu-lateral">
        <div class="listaPerfil">
            <a href="<%=new_ontology_path%>" style="color:rgb(77, 77, 77);" class="perfil"><%=t(:newProject)%></a>
        </div>
    </div>

    <div class="tela">
        <div class="content-header">
            <h1 style="margin-bottom:0px;"><%=t(:projects)%></h1>
        </div>
        <div class="content">
            <% begin %>
                <%@ontologyUser = OntologyUser.where(user_id: session['user_id']).first%>

                <% if @ontologies.size > 0 %>

                    <% @ontologies.each do |o| %>
                        <h2><%=o.name%></h2>
                        <div class="page-menu">
                            <ul>
                                <li><a class="btshow tooltipM" href="<%=ontologies_path%>/show/<%= o.id %>"><span><%=t(:viewOntology)%></span></a></li>
                                <% if @ontologyUser.paper_id == 1 or @ontologyUser.paper_id == 2 %>
                                    <li><a class="btaddU tooltipM" href="<%=ontologies_path%>/add_user/<%= o.id%>"> <span><%=t(:addContributor)%></span></a></li>
                                <% end %>
                                <li><a class="btdt tooltipM" href="<%=ontologies_path%>/details/<%= o.id%>"><span><%=t(:details)%></span></a></li>
                                <% if @ontologyUser.paper_id == 1 or @ontologyUser.paper_id == 2 %>
                                    <li><a class="bted tooltipM" href="<%=ontologies_path%>/<%= o.id%>/edit"><span><%=t(:edit)%></span></a></li>
                                    <li><a class="btex tooltipM" href="<%=ontologies_path%>/destroy/<%= o.id%>"><span><%=t(:destroy)%></span></a></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    <%end%>
                <% else %>
                    <div class="content">
                        <h2><%=t(:noOntology)%></h2>
                        <p><%=t(:youDoNotHaveOntology)%></p>
                    </div>
                <% end %>
                <% rescue Exception => e %>
                <% puts e.message %>
            <% end %>
        </div>
    </div>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>