<style>
    a.btex{
        float:right;
        padding:7px;
        border:0px;
    }
</style>

<% begin %>
    <% @ontologyUser = OntologyUser.where(user_id: session['user_id']).first %>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>

<% begin %>
    <div class="menu-lateral">
        <%=render :partial => 'form_menu_lateral' %>
    </div>

    <div class="tela">
        <div class="content-header">
            <h1><%=@ontology.name%></h1>
            <div class="aba">
                <%=render :partial => 'menu' %>
            </div>
            <hr id="hr">
        </div>

        <div class="content">
            <p id="notice"><%= notice %></p>
            <% if @ontologyUser.paper_id == 1 or @ontologyUser.paper_id == 2 %>
                <%@etapas.each do |e|%>
                    <h2><%=e.name%></h2>
                    <%e.doc_type.each do |d|%>
                        <div class="activity texto2">
                            <div class="activity-header">
                                <b><%=t(:document)%>: </b><%=d.name%><br>
                                <b><%=t(:status)%>: </b>
                                <%#@documento = Document.find(:first,:conditions=>["documents.doc_type_id = ? and documents.ontology_id = ?", d.id, @ontology.id]) %>
                                <%@documento = Document.where("documents.doc_type_id = ? and documents.ontology_id = ?", d.id, @ontology.id).first %>
                                <%if @documento.nil?%>
                                    <span class="status nao-criado"><%=t(:notCreated)%></span>
                                <%else%>
                                    <span class="status <%=@documento.artefact_status.description%>">
                                        <%=@documento.artefact_status.description%>
                                    </span>
                                    <div id="projectDescriptionDetails<%=d.id%>" class="info-box">
                                        <b><%=t(:createdAt)%>:</b> <%=my_date(@documento.created_at)%><br>
                                        <b><%=t(:updatedAt)%>:</b> <%=my_date(@documento.updated_at)%>
                                    </div>
                                    <br>
                                    <a href="javascript:mostraEsconde('projectDescriptionDetails<%=d.id%>')">[...]</a>
                                <%end%>
                                <div class="activity-menu texto1">
                                    <ul>
                                        <% if @documento.nil?%>
                                            <li><%=link_to '', {controller: 'document', action: 'edit', doc_type_id: d.id, ontology_id: @ontology.id}, {:class=>'btdocedit'} %></li>
                                        <% else %>
                                            <li><%=link_to '', {controller: 'document', action: 'edit', id: @documento.id, ontology_id: @ontology.id, :html => {:method => 'post'}}, {:class=>'btdocedit'} %></li>
                                            <li><%=link_to '', {controller: 'document', action: 'show', id: @documento.id}, {:class=>'btdocument'} %></li>
                                        <% end %>
                                    </ul>
                                </div> 
                                <div class="clear"></div>
                            </div>
                        </div>  
                    <%end%>
                <%end%>
            <%end%>
        </div>

        <div class="content" style="margin-bottom:40px;">
            <h2><%=t(:ontologyVersion)%></h2>
            <ul class="page-menu">
                <% if @ontologyUser.paper_id == 1 or @ontologyUser.paper_id == 2 %>
                    <li>
                        <%=link_to '', {:controller => 'versions', :action => 'create', :ontology_id =>@ontology.id},{:class=>'btmore'}%>
                    </li>
                <% end %>
            </ul>
            <%if @versions.size > 0 %>
                <% @versions.each do |v|%>
                    <div class="like-table">
                        <lable id="lable-etapa-<%=v.id%>"><%=link_to t(:version)+' nº.' + v.number.to_s, :controller => 'versions', :action => 'show', :id => v.id, :ontology_id => @ontology.id %></lable>
                        <% if @ontologyUser.paper_id == 1 or @ontologyUser.paper_id == 2 %>
                            <%=link_to ' ', {:controller => 'versions', :action => 'destroy', :id => v.id}, {:class=>'btex'}%>
                        <% end %>
                    </div>    
                <%end%>
            <%else%>
            <p><%=t(:noVersion)%></p>
            <%end%>
        </div>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>