<style>
    .listaPerfil{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        width: 200px;
        margin-top:20px;
        background:white!important;
        margin-top: 45px;
        margin-bottom: 35px;
    }

    a.perfil{
        color:#004C99!important;
    }


    .follow{
        margin-top:35px;
    }
    .search {
        width:60%!important;
    }
    small{
        font-size:85%;
    }
    .menujanela{
        height:39px;
        width:100%;
        margin-bottom:30px;
        border-bottom: 1px solid rgb(225, 225, 225);
        box-shadow: 0px 2px 0px 0px rgb(225, 225, 225);
        z-index: 1;
        background-color: rgba(255, 255, 255, 0);
    }
    .li-a{
        margin-right:25px;
        float:left;
        padding-bottom: 18px;
        border-width: 0px 0px 2px;
        cursor: pointer;
    }
    .h{
        border-style: none none solid;
        border-color: -moz-use-text-color -moz-use-text-color rgb(77, 144, 254);
    }
    .s{
        font-weight: bold;
        border-style: none none solid;
        border-color: -moz-use-text-color -moz-use-text-color rgb(77, 144, 254);
    }

    .ul{
        margin-left: 0px;
    }
    .a{
        vertical-align: middle;
        display: inline-block;
    }

    table{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        background-color: transparent;
        border-spacing: 0px;
        border-collapse: collapse;
    }
    td{
        text-align:left!important;
        border: 0px!important;
        border-bottom: 1px solid rgb(221, 221, 221)!important;
    }
    thead th{
        text-align:left!important;
        border: 0px!important;
        border-bottom: 2px solid rgb(221, 221, 221)!important;
    }

</style>
<% begin %>
    <%=render :partial => 'document/form_menus' %>

    <div class="content">


        <div class="activity-menu texto1">
            <%=t(:document)%>: <b class="texto2"><%=@documento.doc_type.name%></b>
            <ul>
                <li><%=link_to '', {:controller=>'document', :action => 'show', :id => @documento.id}, {:class=>'btdocument-min'}%></li>
            </ul>
        </div>

        <% 
            begin 
                @responsables = Responsable.where(user_id: session['user_id']).all 

                if @documento.ontology.nil?
                    v_id = Version.where(id: @documento.version_id).first
                    @ontoUser = OntologyUser.where(ontology_id: v_id.ontology_id, user_id: session['user_id']).first
                else
                    @ontoUser = OntologyUser.where(ontology_id: @documento.ontology_id, user_id: session['user_id']).first
                end

                @responsables.each do | r | 
                    if ( r.document_id == @documento.id ) or ( @ontoUser.paper_id == 1 or @ontoUser.paper_id == 2 )
                        $ok = true
                        break
                    else
                        $ok = false
                    end
                end
                rescue Exception => e
                puts e.message
            end
        %>

        <% if $ok %>
            <div class="listaPerfil">
                <ul>
                    <li><%=link_to "#{t(:import)}", "#janela", {:titulo=> "#{t(:addOntologie)}", :rel => 'modal', :class=>'perfil'}%></li>
                </ul>
            </div>

            <table>
                <thead>
                    <tr>
                        <th><%=t(:name)%></th>
                        <th><%=t(:prefix)%></th>
                        <th><%=t(:uri)%></th>
                        <th><%=t(:purpose)%></th>
                    </tr>
                </thead>
                <tbody>
                    <%@integracoes.each do |integracao|%>
                    <tr>
                        <td><%=integracao.name%></td>
                        <td><%=integracao.prefix%></td>
                        <td><a href="<%=integracao.uri%>" target="_blank"><%=integracao.uri%></a></td>
                        <td><%=integracao.purpose%></td>
                    </tr>
                    <%end%>
                </tbody>
            </table>

            <div id="janela" class="window middle" >
                <div class="modal-titulo"><%=t(:title)%></div>
                <div class="content">
                    <div class="menujanela">
                        <div class="ul" style="" role="tablist" tabindex="0">
                            <div name="menu" class="li-a s" role="form1" style="-moz-user-select: none;" aria-selected="true">
                                <div class="a"><%=t(:search)%></div>
                            </div>
                            <div name="menu" class="li-a" role="form2" style="-moz-user-select: none;" aria-selected="true">
                                <div class="a"><%=t(:manual)%></div>
                            </div>  
                        </div>
                    </div>
                    <%= form_for :integration, :url => { :action => "adicionar", :document_id => params[:document_id], :version_id => params[:version_id] } do |f| %>
                        <div id="form1" name="form">		
                            <%=render :partial => 'form_pesquisa' %>
                        </div>
                        <div id="form2" name="form" style="display:none;">		
                            <%=render :partial => 'form' %>
                        </div>
                        <div id="buttons" align="center" class="buttons">
                            <%=link_to "#{t(:cancel)}", { }, {:id =>  'fecharWindow', :class => 'button  fecharWindow'}%>
                            <input value='<%=t(:add)%>' name='commit' type='submit' class ='button'>
                        </div>
                    <%end%>
                </div>
            </div>
        <% else %>
            <div class="left alert alert-danger">
                <%=t(:notPermission)%>
            </div>
        <% end %>
    </div>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>

<script language="javascript">

    $("#btBusca").click(function(ev){
        string = $('#strBusca').val();
        var url = "/integration/index?version_id=<%=params[:version_id]%>&document_id=<%=params[:document_id]%>&string="+string; 
        window.location.href = url;

    });
    
    $("[name=commit]").attr('style', 'display:none');
    
    $('.li-a').click(function(){

        $("[name=menu]").removeClass('s');
        $(this).addClass('s');
        idform = $(this).attr('role');
        $("[name=form]").attr('style', 'display:none');
        $("[name=commit]").attr('style', 'display:block');
        $("#"+idform).attr('style', 'display:block');
    });
    
    $('.s').click(function(){
        $("[name=commit]").attr('style', 'display:none');
    });

    $('.li-a').hover(function(){
        $(this).addClass('h');
    }, function(){
        $(this).removeClass('h');
    });

    <%if params[:string]%>
        openWindow("#janela", "Adicionar ontologia", "");
    <%end%>
</script>

