<%=render :partial => 'form_menus' %>

<div class="content">
    <div class="activity-menu texto1">
        <%=t(:document)%>: <b class="texto2"><%=@documento.doc_type.name%></b>
        <ul>
            <li><%=link_to '', {controller: 'document', action: 'show', id: @documento.id}, {:class=>'btdocument-min'}%></li>
        </ul>
    </div>

    <%= form_tag :action => 'edit', :id => @document do %>
    <%=render :partial => 'form' %>
    <% end %>
</div>
